# How to Configure Scheduled Batch Address Verification

*Coming soon.*
